body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
}

.LoginTitle {
	font-family: "Trebuchet MS", Georgia, "Times New Roman";
	font-size: 14px;
	font-weight: bold;
	color: #a41c2b;
}


input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.MastheadBg {
	background-image: url(../images/MastheadBg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 48px;
}

.LogoutPanel {
	height: 20px;
	background-color: #efefef;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	margin: 0px;
	padding: 0px;
}

.FixedButton {
	BORDER-RIGHT: #999999 1px solid;
	BACKGROUND-POSITION: left bottom;
	BORDER-TOP: #999999 1px solid;
	FONT-WEIGHT: bolder;
	FONT-SIZE: 11px;
	BACKGROUND-IMAGE: url(../images/bgbutton.jpg);
	BORDER-LEFT: #999999 1px solid;
	COLOR: #333333;
	BORDER-BOTTOM: #999999 1px solid;
	BACKGROUND-REPEAT: repeat-x;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	HEIGHT: 18px;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}

.label {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.button {
	font-size: 11px;
	font-weight: bolder;
	color: #666666;
	background-image: url(../images/bgbutton.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 22px;
	border: 1px solid #999999;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	font-family: Arial, Verdana, "Times New Roman";
}

.leftbg {
	background-image: url(../images/leftbg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	height: 350px;
	width: 16px;
}

.rightbg {
	background-image: url(../images/rightbg.gif);
	background-repeat: repeat-y;
	background-position: right top;
	height: 350px;
	width: 16px;
}

.bottomtbg {
	background-image: url(../images/bottombg.gif);
	background-repeat: repeat-x;
	background-position: right bottom;
	height: 16px;
}


#masthead {
	background-color:   #004080;
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 13px;
	font-weight: bolder;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 8px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CECDBB;
	color: white;
	height: 35px;
}topnsa
#masthead A:link{
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
#masthead A:visited{
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
#masthead A:hover{
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
