<?xml version="1.0"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>ZB Individual Life</display-name>
	<context-param>
		<param-name>org.jboss.jbossfaces.JSF_CONFIG_NAME</param-name>
		<param-value>Mojarra-1.2</param-value>
	</context-param>

	<context-param>
		<param-name>
			javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>


	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>#{skinInfoBean.skin}</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/faces-config-PILM001.xml,
			/WEB-INF/faces-config-PILM002_APAC.xml,
			/WEB-INF/faces-config_PILM003_APAC.xml,
			/WEB-INF/faces-config-PILM011.xml,
			/WEB-INF/faces-config-PILM013_APAC.xml,
			/WEB-INF/faces-config-PILM015_APAC.xml,
			/WEB-INF/faces-config-PILM016_APAC.xml,
			/WEB-INF/faces-config-PILM017.xml,
			/WEB-INF/faces-config-PILM021.xml,
			/WEB-INF/faces-config-PILM022.xml,
			/WEB-INF/faces-config-PILM023.xml,
			/WEB-INF/faces-config-PILM024.xml,
			/WEB-INF/faces-config-PILM029.xml,
			/WEB-INF/faces-config-PILM030.xml,
			/WEB-INF/faces-config_PILM034.xml,
			/WEB-INF/faces-config-PILM035_APAC.xml,
			/WEB-INF/faces-config-PILM036.xml,
			/WEB-INF/faces-config-PILM037.xml,
			/WEB-INF/faces-config-PILM038.xml,
			/WEB-INF/faces-config-PILM039.xml,
			/WEB-INF/faces-config-PILM040.xml,
			/WEB-INF/faces-config-PILM041.xml,
			/WEB-INF/faces-config-PILM042.xml,
			/WEB-INF/faces-config-PILM043.xml,
			/WEB-INF/faces-config-PILM048_APAC.xml,
			/WEB-INF/faces-config-PILM050_APAC.xml,
			/WEB-INF/faces-config-PILM054_APAC.xml,
			/WEB-INF/faces-config-PILM055_APAC.xml,
			/WEB-INF/faces-config-PILM060_APAC.xml,
			/WEB-INF/faces-config-PILM061_APAC.xml,
			/WEB-INF/faces-config-PILM063_APAC.xml,
			/WEB-INF/faces-config-PILM065_APAC.xml,
			/WEB-INF/faces-config-PILM070_APAC.xml,
			/WEB-INF/faces-config-PILM072_APAC.xml,
			/WEB-INF/faces-config-PILM200.xml,
			/WEB-INF/faces-config-PILM201.xml,
			/WEB-INF/faces-config-PILM202.xml,
			/WEB-INF/faces-config-PILM203.xml,
			/WEB-INF/faces-config-PILP001_APAC.xml,
			/WEB-INF/faces-config-PILP002_APAC.xml,
			/WEB-INF/faces-config-PILP003_APAC.xml,
			/WEB-INF/faces-config_PILP004.xml,
			/WEB-INF/faces-config-PILP006.xml,
			/WEB-INF/faces-config-PILP007.xml,
			/WEB-INF/faces-config-PILP008.xml,
			/WEB-INF/faces-config-PILP010.xml,
			/WEB-INF/faces-config-PILP014.xml,
			/WEB-INF/faces-config_PILP017.xml,
			/WEB-INF/faces-config-PILP091_APAC.xml,
			/WEB-INF/faces-config-PILP014_A.xml,
			/WEB-INF/faces-config-PILP018.xml,
			/WEB-INF/faces-config-PILP020.xml,
			/WEB-INF/faces-config-PILP021.xml,
			/WEB-INF/faces-config-PILP022.xml,
			/WEB-INF/faces-config-PILP023.xml,
			/WEB-INF/faces-config-PILP024.xml,
			/WEB-INF/faces-config-PILP025.xml,
			/WEB-INF/faces-config-PILP028_APAC.xml,
			/WEB-INF/faces-config-PILP032_TISB.xml,
			/WEB-INF/faces-config-PILP036.xml,
			/WEB-INF/faces-config-PILP039_APAC.xml,
			/WEB-INF/faces-config-PILP042_APAC.xml,
			/WEB-INF/faces-config-PILP045_APAC.xml,
			/WEB-INF/faces-config-PILP060_APAC.xml,
			/WEB-INF/faces-config-PILP200.xml,
			/WEB-INF/faces-config-PILQ002.xml,
			/WEB-INF/faces-config-PILQ004_APAC.xml,
			/WEB-INF/faces-config-PILQ016.xml,
			/WEB-INF/faces-config-PILQ017.xml,
			/WEB-INF/faces-config-PILQ101.xml,
			/WEB-INF/faces-config-PILQ106_APAC.xml,
			/WEB-INF/faces-config-PILT002_APAC.xml,
			/WEB-INF/faces-config_PILT003_APAC.xml,
			/WEB-INF/faces-config-PILT004.xml,
			/WEB-INF/faces-config-PILT005.xml,
			/WEB-INF/faces-config-PILT006_APAC.xml,
			/WEB-INF/faces-config-PILT007.xml,
			/WEB-INF/faces-config_PILT009.xml,
			/WEB-INF/faces-config_PILT010.xml,
			/WEB-INF/faces-config-PILT011.xml,
			/WEB-INF/faces-config-PILT012.xml,
			/WEB-INF/faces-config-PILT013.xml,
			/WEB-INF/faces-config-PILT016A_APAC.xml,
			/WEB-INF/faces-config-PILT017.xml,
			/WEB-INF/faces-config-PILT018.xml,
			/WEB-INF/faces-config-PILT020.xml,
			/WEB-INF/faces-config_PILT021.xml,
			/WEB-INF/faces-config-PILT027.xml,
			/WEB-INF/faces-config-PILT030_APAC.xml,
			/WEB-INF/faces-config-PLM006_APAC.xml,
			/WEB-INF/faces-config-PLM008.xml,
			/WEB-INF/faces-config-PM006_A_APAC.xml,
			/WEB-INF/faces-config-PM010_A.xml,
			/WEB-INF/faces-config-PM0100_A.xml,
			/WEB-INF/faces-config-PM020_A_APAC.xml,
			/WEB-INF/faces-config-PM021_A.xml,
			/WEB-INF/faces-config-PM068_A.xml,
			/WEB-INF/faces-config-PM091_A.xml,
			/WEB-INF/faces-config-PM092_A.xml,
			/WEB-INF/faces-config-PM100_A_TISB.xml,
			/WEB-INF/faces-config-PM101_A_TISB.xml,
			/WEB-INF/faces-config-PM102_A_TISB.xml,
			/WEB-INF/faces-config-PM103_A_TISB.xml,
			/WEB-INF/faces-config-PM104_A_TISB.xml,
			/WEB-INF/faces-config-PM105_A_TISB.xml,
			/WEB-INF/faces-config-PP047_A.xml,
			/WEB-INF/faces-config-PT005_A.xml,
			/WEB-INF/faces-config-PT044_A.xml,
			/WEB-INF/faces-config-PT046_A.xml,
			/WEB-INF/faces-config-PT048_A.xml,
			<!-- /WEB-INF/faces-config_PILT007.xml, -->
			/WEB-INF/faces-config-PT051_A.xml,
			/WEB-INF/faces-config-PT099_A.xml,
			/WEB-INF/faces-config-PP_LOV_ITEM.xml,
			/WEB-INF/faces-config-PP_LIST_ITEM.xml,
			/WEB-INF/faces-config-PILM074_APAC.xml,
			/WEB-INF/faces-config-fileupload.xml,
			/WEB-INF/faces-config-PILR_REP026.xml,
			/WEB-INF/faces-config-PILR_REP009.xml,
			/WEB-INF/faces-config-PILR_REP008.xml,
			/WEB-INF/faces-config-PILR_REP046.xml,
			/WEB-INF/faces-config-PILR_REP027.xml,
			/WEB-INF/faces-config-PILR_REP047.xml,
			/WEB-INF/faces-config-PILR_REP037.xml,
			/WEB-INF/faces-config-PILR_REP031.xml,
			/WEB-INF/faces-config-PILR_REP040.xml,
			/WEB-INF/faces-config-PILR_REP045.xml,
			/WEB-INF/faces-config-PILR_SCH01.xml,
			/WEB-INF/faces-config_PILM204.xml,
			/WEB-INF/faces-config-PILQ108_APAC.xml,
			/WEB-INF/faces-config-PILM075_APAC.xml,
			/WEB-INF/faces-config-GNMNF003_A.xml,
			/WEB-INF/faces-config-PP039_A.xml,
			/WEB-INF/faces-config_PILM033.xml,
			/WEB-INF/faces-config-PILM071_APAC.xml,
			/WEB-INF/faces-config-PILT042_APAC.xml,
			/WEB-INF/faces-config-PM075_A.xml,
			/WEB-INF/faces-config-PM076_A.xml,
			/WEB-INF/faces-config-PILR_REP025.xml,
			/WEB-INF/faces-config_GNMNF004_A_APAC.xml,
			/WEB-INF/faces-config_GNMNF005_A_APAC.xml,
			/WEB-INF/faces-config_GNMNF006_A_APAC.xml,
			/WEB-INF/faces-config_PM094_A.xml,
			/WEB-INF/faces-config_PILM062_APAC.xml,
			/WEB-INF/faces-config_PILQ111_APAC.xml,
			/WEB-INF/faces-config-PILR_REP136.xml,
			/WEB-INF/faces-config-PT047_A.xml,
			/WEB-INF/faces-config_PILQ015.xml,
			/WEB-INF/faces-config_PQ123.xml,
			/WEB-INF/faces-config_PILQ103_APAC.xml,
			/WEB-INF/faces-config_PILP005.xml,
			/WEB-INF/faces-config_PT001_A_TISB.xml,
			/WEB-INF/faces-config-PLM010.xml,
			/WEB-INF/faces-config-PILR_REP028.xml,
			/WEB-INF/faces-config-PILR_REP034.xml,
			/WEB-INF/faces-config-PILR_REP028.xml,
			/WEB-INF/faces-config-PILR_REP029.xml,
			/WEB-INF/faces-config-PILR_REP033.xml,
			/WEB-INF/faces-config-PILR_REP042.xml,
			/WEB-INF/faces-config-PILR_REP033.xml,
			/WEB-INF/faces-config-PILR_REP032.xml,
			/WEB-INF/faces-config-PILR_REP041.xml,
			/WEB-INF/faces-config-PILR_REP036.xml,
			/WEB-INF/faces-config-PILR_REP049.xml,
			/WEB-INF/faces-config-PILR_REP036.xml,
			/WEB-INF/faces-config-PILR_REP030.xml,
			/WEB-INF/faces-config-PILR_REP048.xml,
			/WEB-INF/faces-config-PILR_REP044.xml,
			/WEB-INF/faces-config-PILR_REP043.xml,
			/WEB-INF/faces-config_PP039_A.xml,
			/WEB-INF/faces-config-PILP089_APAC.xml,
			/WEB-INF/faces-config_chart.xml,
			/WEB-INF/faces-config_search_page.xml,
			/WEB-INF/faces-config_PILM007.xml,
			/WEB-INF/faces-config_PM078_A.xml,
			/WEB-INF/faces-config-PILP086_APAC.xml,
			/WEB-INF/faces-config-PILPSTM001.xml,
			/WEB-INF/faces-config_PILP053_APAC.xml,
			/WEB-INF/faces-config-PILPSTM001.xml,
			/WEB-INF/faces-config_PILMTISB001.xml,
			/WEB-INF/faces-config_PILT013.xml,
			/WEB-INF/faces-config_PM290.xml,
			/WEB-INF/faces-config_PQ124_A.xml,
			/WEB-INF/faces-config_chart.xml,
			/WEB-INF/faces-config-notes.xml,
			/WEB-INF/faces-config_SSO.xml,
			/WEB-INF/faces-config-PILQ003.xml,
			/WEB-INF/faces-config-PILT036_APAC.xml,
			/WEB-INF/faces-config_PILM064_APAC.xml,
			/WEB-INF/faces-config_PILM012.xml,
			/WEB-INF/faces-config_PILP047_APAC.xml,
			/WEB-INF/faces-config_PILP049_APAC.xml,
			/WEB-INF/faces-config_PILM031.xml,
			/WEB-INF/faces-config_PILM052_APAC.xml,
			/WEB-INF/faces-config_PILM073_APAC.xml,
			/WEB-INF/faces-config_PILP201.xml,
			/WEB-INF/faces-config_PILQ020.xml,
			/WEB-INF/faces-config_PILR015_APAC.xml,
			/WEB-INF/faces-config_PILP085_APAC.xml,
			/WEB-INF/faces-config_PILP084_APAC.xml,
			/WEB-INF/faces-config_PILQ109.xml,
			/WEB-INF/faces-config_PP100_1APAC.xml,
			/WEB-INF/faces-config_PILR104.xml,
			/WEB-INF/faces-config_PILR_FBN047.xml,
			/WEB-INF/faces-config_PILR_REP061.xml,
			/WEB-INF/faces-config_PILR_LOAN_SCHD.xml,
			/WEB-INF/faces-config_PILR_DEFLT_LIST.xml,
			/WEB-INF/faces-config_PILR283_012.xml,
			/WEB-INF/faces-config_PILR069_APAC.xml,
			/WEB-INF/faces-config_PILR219_APAC.xml,
			/WEB-INF/faces-config_PILP051_APAC.xml,
			/WEB-INF/faces-config_PILR107.xml,
			/WEB-INF/faces-config_PILR069.xml,
			/WEB-INF/faces-config_PILRA001.xml,
			/WEB-INF/faces-config_PILRA002.xml,
			/WEB-INF/faces-config_PILR387_012.xml,
			/WEB-INF/faces-config_PILR388_012.xml,
			/WEB-INF/faces-config_PILR386_012.xml,
			/WEB-INF/faces-config_PILR385_STM.xml,
			/WEB-INF/faces-config_PILP016.xml,
			/WEB-INF/faces-config_PILP100_APAC.xml,
			/WEB-INF/faces-config_PILR361_012.xml,
			/WEB-INF/faces-config_PILR307_012.xml,
			/WEB-INF/faces-config_PILM105_APAC.xml,
			/WEB-INF/faces-config_PILM085_APAC.xml,
			/WEB-INF/faces-config_PILP109_APAC.xml,
			/WEB-INF/faces-config_PM079_A.xml,
			/WEB-INF/faces-config_PILT002_APAC_QE.xml,
			/WEB-INF/faces-config_PILP057_APAC.xml,
			/WEB-INF/faces-config_PILQ114_APAC,
			/WEB-INF/faces-config_PILQ116_APAC.xml,
			/WEB-INF/faces-config_PILR103.xml,
			/WEB-INF/faces-config_PILR001.xml,
			/WEB-INF/faces-config_PILR056_APAC.xml,
			/WEB-INF/faces-config_PILR304_012.xml,
			/WEB-INF/faces-config_PILR110.xml,
			/WEB-INF/faces-config_PILR035.xml,
			/WEB-INF/faces-config_PILR020.xml,
			/WEB-INF/faces-config_PILR103_B.xml,
			/WEB-INF/faces-config_PILR296_APAC.xml,
			/WEB-INF/faces-config_PILR289_APAC.xml,
			/WEB-INF/faces-config_PILR290_APAC.xml,
			/WEB-INF/faces-config_PILR352_012.xml,
			/WEB-INF/faces-config_PILR370_012.xml,
			/WEB-INF/faces-config_PILR384_012.xml,
			/WEB-INF/faces-config_PILR248_012.xml,
			/WEB-INF/faces-config_PILR247_012.xml,
			/WEB-INF/faces-config_PILR246_012.xml,
			/WEB-INF/faces-config_PILR291_012.xml,
			/WEB-INF/faces-config_PILR286_012.xml,
			/WEB-INF/faces-config_PILR244_012.xml,
			/WEB-INF/faces-config_PILR278_012.xml,
			/WEB-INF/faces-config_PILR244_012.xml,
			/WEB-INF/faces-config_PILR280_012.xml,
			/WEB-INF/faces-config_PILP_STS_PRO.xml,
			/WEB-INF/faces-config_PILR275_012.xml,
			/WEB-INF/faces-config-PILP014B.xml,
			/WEB-INF/faces-config_PILR_REP229.xml,
			/WEB-INF/faces-config_PILR_REP229A.xml,
			/WEB-INF/faces-config_PILR_REP229B.xml,
			/WEB-INF/faces-config_RICBL_SCH_21.xml,
			/WEB-INF/faces-config_PILR_DR_CR.xml,
			/WEB-INF/faces-config_PILR159_APAC.xml,
			/WEB-INF/faces-config_PILR146.xml,
			/WEB-INF/faces-config_PILR011.xml,
			/WEB-INF/faces-config_PILR005.xml,
			/WEB-INF/faces-config_PILR006_A.xml,
			/WEB-INF/faces-config_PLM004A.xml,
			/WEB-INF/faces-config-PM001_A.xml,
			/WEB-INF/faces-config_PM_FLEX.xml,
			/WEB-INF/faces-config_PILR017_01.xml,
			/WEB-INF/faces-config_PILR030_A.xml,
			/WEB-INF/faces-config_PILR147_A.xml,
			/WEB-INF/faces-config_PILR051.xml,
			/WEB-INF/faces-config_PILR006_APAC.xml,
			/WEB-INF/faces-config_PILRA016.xml,
			/WEB-INF/faces-config_PILR022_APAC.xml,
			/WEB-INF/faces-config_PILRA005.xml,
			/WEB-INF/faces-config_PILR357_012.xml,
			/WEB-INF/faces-config_PILR272_012.xml,
			/WEB-INF/faces-config_PILR184_APAC.xml,
			/WEB-INF/faces-config_PILP_STP.xml,
			/WEB-INF/faces-config_PILP_WHA.xml,
			/WEB-INF/faces-config_PM102.xml,
			/WEB-INF/faces-config_PILR039.xml,
			/WEB-INF/faces-config_PILR168_APAC.xml,
			/WEB-INF/faces-config_PILR239_012.xml,
			/WEB-INF/faces-config_PILQ_AGI.xml,
			/WEB-INF/faces-config_PILT024.xml,
			/WEB-INF/faces-config_PILP070.xml,
			/WEB-INF/faces-config_PILR_REP070.xml,
			/WEB-INF/faces-config_PILR_REP070_DEB.xml,
			/WEB-INF/faces-config_PILT083.xml,
			/WEB-INF/faces-config_common_report.xml,
			/WEB-INF/faces-config_REPORT_CONFIG.xml,
			/WEB-INF/faces-config_PILT083.xml,
			/WEB-INF/faces-config-PILR_FUN_01.xml,
			/WEB-INF/faces-config_WORKFLOW_DMS.xml,
			/WEB-INF/faces-config_PILP026.xml,
			/WEB-INF/faces-config_PILP080.xml,
			/WEB-INF/faces-config_PLM005.xml,
			 <!-- Added by Janani on 21.12.2016 for Excess REfeund Premium -->
			/WEB-INF/faces-config_PILT039_APAC.xml,
			 <!-- Added by Janani on 08.03.2017 for Medical and clinic payment -->
			 /WEB-INF/faces-config-PILT023.xml,
			 <!-- End -->			
			/WEB-INF/faces-config_PILM106.xml,
			/WEB-INF/faces-config_PILP075.xml,
			/WEB-INF/faces-config-PILM086_APAC.xml,
			<!-- Added by saritha on 04-01-2017 RM018T -DEV_IL_ZB Life_015-Lapsation and commission clawback 2 -->
			/WEB-INF/faces-config-PILP135.xml,
			<!-- End -->
			<!-- added by gopi for persistency processing on 04/01/17 -->
			/WEB-INF/faces-config-PILP090_APAC.xml,
			<!-- end -->
			 <!-- Added by Raja for RM018T - FSD_IL_ZB Life_002-Customer Master Changes -->
			/WEB-INF/faces-config-PILP134.xml,
			<!-- End -->		
			<!-- Added by saranya for RM018T - DEV_IL_ZB Life_028-Cash Back on 17-01-2017 -->
			/WEB-INF/faces-config_PILP078.xml,
			<!-- end -->
			<!--  Added by saritha on 20-02-2017 for RM018T - DEV_IL_ZB Life_027-Replacement Policy -->
			/WEB-INF/faces-config-PILP203.xml,
			<!-- End -->
			<!-- Added by saranya for RM018T - FSD_IL_ZB Life_001-Education Endowment Plan COMMENTS on 24-02-2017 -->
			/WEB-INF/faces-config_PILQ137.xml,
			<!-- End -->
			<!-- Added by saranya for smart stream Processing on 27-03-2017 -->
			/WEB-INF/faces-config_PILP206.xml,
			<!-- End -->
			<!-- Added by Ram for PropertyFile configuration on 04/04/2017 -->
			/WEB-INF/faces-config_PILC_PROP.xml,
			<!-- End -->
			<!--  added by R Raja on 04-04-2017 for Bank Master --> 
			/WEB-INF/faces-config-PILM107.xml,
			<!-- end -->
			<!--  added by R Raja on 26-13-2017 for Premium Enquiry Screen -->
			/WEB-INF/faces-config-PILQ138.xml,
			<!-- end -->
			<!-- Added by Janani on 13.05.2017 for ZB Sub-standard register -->
			/WEB-INF/faces-config-PILP232.xml,
			<!-- end -->
			<!--  added by Ameen on 14-05-2017 for PM_IL_INTEREST_RATES HOSPITAL CASH FSD -->
			/WEB-INF/faces-config-IL010105.xml,
			<!-- end -->
			<!-- Added by saranya for smart stream Processing on 27-03-2017 -->
			/WEB-INF/faces-config_PILP207.xml,
			
			<!-- End -->
			<!-- Added by Ameen on 27-03-2017 for ZBILQC-1721052-->
			/WEB-INF/faces-config_PP0100.xml,
			<!-- End -->
				<!-- Added by Janani on 12.06.2017 as per Sivaram suggestion -->
			
			/WEB-INF/faces-config_PILT032_APAC.xml,
			
			<!-- End -->
			<!-- Added by Ameen on 04-07-2017 for ZBILQC-1730634 -->
			/WEB-INF/faces-config_PILQ142.xml,
			<!-- End -->
			<!-- Added by Ameen on 17-02-2018 for KIC TERMA NET FUND PROCESING AND QUERY -->
			/WEB-INF/faces-config_PILP233.xml,
			/WEB-INF/faces-config_PILQ143.xml,
			<!-- End -->
			<!-- Added by Ganesh on 02-05-2018 for WORKFLOW -->
			/WEB-INF/faces-config_WORKFLOW.xml,
			<!-- End -->
			<!-- Added By Dhinesh on 05-06-2018 for FLA funeral Changes -->
			/WEB-INF/faces-config_PILM036_APAC.xml,
			<!-- End -->
			<!-- Added by pidugu raj on 10-08-2018-->
			/WEB-INF/faces-config-PILP234.xml,
			<!-- End-->
			<!-- Added by pidugu raj on 04-09-2018-->
			/WEB-INF/faces-config_PILP236_A.xml,
			<!-- End-->
			
			<!-- Added by pidugu raj on 04-11-2018-->
			/WEB-INF/faces-config_PM023_A.xml,
			<!-- End-->
			/WEB-INF/faces-config_PILM205.xml,
			<!-- Added by Kavitha for Roadmap-->
			/WEB-INF/faces-config_HIERARCHY_REPORT.xml,
			/WEB-INF/faces-config_REPORTING_TREE.xml,
			/WEB-INF/faces-config_PM007_APAC.xml
			<!-- End-->
			<!-- Added by Sivarajan on 13/08/2019 -->
			<!-- /WEB-INF/faces-config-PGLM006.xml -->
			<!--End  -->
			</param-value>
	</context-param>
	<filter>
		<display-name>Ajax4jsf Filter</display-name>
		<filter-name>ajax4jsf</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ajax4jsf</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<!-- Uncommented by ganesh on 29-05-2017, to resolve userid null issue -->
	<filter>
		<filter-name>PremiaFilter</filter-name>
		<filter-class>com.iii.premia.common.action.PremiaFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PremiaFilter</filter-name>
		<!-- <url-pattern>/*</url-pattern> -->
		<url-pattern>/jsf/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	<!-- Faces Servlet -->
	<listener>
		<listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
	</listener>
	<!-- Added by Janani on 12.9.2016 for dynamic report config -->
	<servlet>
		<description>
		</description>
		<display-name>PREMIASchedule</display-name>
		<servlet-name>PREMIASchedule</servlet-name>
		<servlet-class>com.iii.pel.jasperreports.PREMIASchedule</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PREMIASchedule</servlet-name>
		<url-pattern>/PREMIASchedule</url-pattern>
	</servlet-mapping>
	<!-- END -->
	<!-- Added by saranya on 22.11.2016 for dynamic XDOCreport config -->
	<servlet>
		<description>
		</description>
		<display-name>XDocSchedule</display-name>
		<servlet-name>XDocSchedule</servlet-name>
		<servlet-class>com.iii.pel.jasperreports.XDocSchedule</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XDocSchedule</servlet-name>
		<url-pattern>/XDocSchedule</url-pattern>
	</servlet-mapping>
	<!-- END -->
	<servlet>
		<servlet-name>DMS Servlet</servlet-name>
		<servlet-class>com.iii.premia.common.commonimpl.dms.DMSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DMS Servlet</servlet-name>
		<url-pattern>/dmsservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Log4JInitServlet</servlet-name>
		<servlet-class>com.iii.pel.log4j.Log4jServlet</servlet-class>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PremiaJasperPrint</display-name>
		<servlet-name>PremiaJasperPrint</servlet-name>
		<servlet-class>com.iii.pel.jasperreports.PremiaJasperPrint</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PremiaJasperPrint</servlet-name>
		<url-pattern>/PremiaJasperPrint</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ConnectionAgentServlet</servlet-name>
		<servlet-class>com.iii.premia.application.ConnectionAgentServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MenuServlet</servlet-name>
		<servlet-class>com.iii.pel.login.servlet.MenuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MenuItemServlet</servlet-name>
		<servlet-class>com.iii.pel.login.servlet.MenuItemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MenuPaginationServlet</servlet-name>
		<servlet-class>com.iii.pel.login.servlet.MenuPaginationServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>PremiaEnterpriseServlet</display-name>
		<servlet-name>PremiaEnterpriseServlet</servlet-name>
		<servlet-class>com.iii.pel.login.servlet.PremiaEnterpriseServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.iii.pel.login.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>InvalidateSessionServlet</display-name>
		<servlet-name>InvalidateSessionServlet</servlet-name>
		<servlet-class>com.iii.pel.login.servlet.InvalidateSessionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ReportServlet</display-name>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>com.iii.pel.jasperreports.ReportServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>PELServlet</display-name>
		<servlet-name>PELServlet</servlet-name>
		<servlet-class>com.iii.pel.login.servlet.PELServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>DisplayServlet</display-name>
		<servlet-name>DisplayServlet</servlet-name>
		<servlet-class>
			com.iii.premia.common.commonimpl.chartimpl.servlet.DisplayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayServlet</servlet-name>
		<url-pattern>/servlet/DisplayServlet</url-pattern>
	</servlet-mapping>
	<!-- Faces Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern>/jsf/jsp/MenuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuItemServlet</servlet-name>
		<url-pattern>/jsf/jsp/MenuItemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PremiaEnterpriseServlet</servlet-name>
		<url-pattern>/jsf/jsp/PremiaEnterpriseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuPaginationServlet</servlet-name>
		<url-pattern>/jsf/jsp/MenuPaginationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InvalidateSessionServlet</servlet-name>
		<url-pattern>/InvalidateSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/ReportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PELServlet</servlet-name>
		<url-pattern>/PELServlet</url-pattern>
	</servlet-mapping>
	<!--Modified session timeout by ganesh on 29-05-2018 as requested by customer  -->
	<!-- <session-config>
		<session-timeout>300</session-timeout>
	</session-config> -->
	<session-config>
	<!-- Modified session timeout by pidugu raj on 18-08-2018 as requested by vaitheeswaran -->
		<session-timeout>60</session-timeout>
	</session-config>
	<!-- end -->
	<!-- modified by Ganesh on 04-06-2018 for session expiry&error page -->
	<!-- <error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/jsf/login/index.xhtml</location>
	</error-page>

	<error-page>
		<exception-type>javax.faces.FacesException</exception-type>
		<location>/jsf/error/viewexpired.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/jsf/error/viewexpired.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>java.sql.SQLException</exception-type>
		<location>/jsf/error/viewexpired.xhtml</location>
	</error-page> -->
	
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/appexceptionhandler</location>
	</error-page>
	<error-page>
		<exception-type>javax.faces.FacesException</exception-type>
		<location>/appexceptionhandler</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/appexceptionhandler</location>
	</error-page>
	<error-page>
		<exception-type>java.sql.SQLException</exception-type>
		<location>/appexceptionhandler</location>
	</error-page> 
	
	<!-- end -->
	
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<welcome-file-list>
		<welcome-file>jsf/login/index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>
		</description>
		<display-name>DynamicPremiaScreen</display-name>
		<servlet-name>DynamicPremiaScreen</servlet-name>
		<servlet-class>com.iii.pel.util.DynamicPremiaScreen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DynamicPremiaScreen</servlet-name>
		<url-pattern>/DynamicPremiaScreen</url-pattern>
	</servlet-mapping>
	<!-- Added by Sankar on 17/04/2017 -->
	<servlet>
		<description>
		</description>
		<display-name>CsvDownloader</display-name>
		<servlet-name>CsvDownloader</servlet-name>
		<servlet-class>com.iii.pel.forms.MailManager.CsvDownloader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CsvDownloader</servlet-name>
		<url-pattern>/CsvDownloader</url-pattern>
	</servlet-mapping>
	<!-- End -->
	<!-- Added by Saranya for smart screen -->
	<servlet>
		<description>
		</description>
		<display-name>SmartStreamProcessServlet</display-name>
		<servlet-name>SmartStreamProcessServlet</servlet-name>
		<servlet-class>com.iii.pel.jasperreports.SmartStreamProcessServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FileDownloadServlet</display-name>
		<servlet-name>FileDownloadServlet</servlet-name>
		<servlet-class>com.iii.pel.forms.filedownload.FileDownloadServlet</servlet-class>
	</servlet>
	
	<!-- Added by Ganesh on 04-06-2018 for session expiry&error page -->
	<servlet>
		<description>
		</description>
		<display-name>ApplicationExceptionHandler</display-name>
		<servlet-name>ApplicationExceptionHandler</servlet-name>
		<servlet-class>com.iii.premia.common.action.ApplicationExceptionHandler</servlet-class>
	</servlet>
	<!-- End -->
	
	<servlet-mapping>
		<servlet-name>SmartStreamProcessServlet</servlet-name>
		<url-pattern>/SmartStreamProcessServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownloadServlet</servlet-name>
		<url-pattern>/filedownload</url-pattern>
	</servlet-mapping>
	
	<!-- Added by Ganesh on 04-06-2018 for session expiry&error page -->
	<servlet-mapping>
		<servlet-name>ApplicationExceptionHandler</servlet-name>
		<url-pattern>/appexceptionhandler</url-pattern>
	</servlet-mapping>
	<!-- End -->
	
	<!-- Commented by ganesh on 06-06-2017 to avoid rollback error -->
	<!-- <servlet>
		<description>
		</description>
		<display-name>PaynetProcessServlet</display-name>
		<servlet-name>PaynetProcessServlet</servlet-name>
		<servlet-class>com.iii.pel.jasperreports.PaynetProcessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaynetProcessServlet</servlet-name>
		<url-pattern>/PaynetProcessServlet</url-pattern>
	</servlet-mapping>
	End -->
</web-app>
