body { 
margin : 0; 
padding : 0; 
font-family : Arial, Helvetica, sans-serif; 
font-size : 12px; 
font-weight : normal; 
color : #333333; 
background-color:#fff;
} 
a:link { 
color : #000; 
text-decoration : none; 
} 
a:visited { 
color : #000; 
text-decoration : none; 
} 
a:hover { 
color : #435232; 
text-decoration : underline; 
} 
a:active { 
color : #000; 
text-decoration : none; 
} 
form { 
margin : 0; 
padding : 0; 
} 
.pgtitle { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 14px; 
font-weight : bolder; 
color : #a41c2b; 
} 
.toolbarImageStyle { 
border : 0; 
vertical-align : middle; 
} 
#toolbartable { 
margin-left : 0; 
font-size : 11px; 
color : gray; 
} 
.forumRowHighlightNumeric { 
text-align : right; 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
}

.gridFooterBoldNumeric { 
text-align : right; 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
}

#secondToolBar { 
margin-left : 30px; 
font-size : 11px; 
color : gray; 
} 
.rich-tab-header { 
font-weight : bold; 
color : white; 
} 
.rich-tab-active { 
background-image : url(../images/richtabactiveblue.png); 
background-repeat : repeat-x; 
}
/*
.rich-tab-inactive { 
background-image : url(../images/topnavbg.jpg); 
background-repeat : repeat-x; 
}*/ 
.rich-tab-disabled { 
background-image : url(../images/richtabdisabled.png); 
background-repeat : repeat-x; 
}

.displayErrorMessages { 
color : red; 
} 
.displayMessages { 
color : green; 
} 
.ErrorMessages { 
color : red; 
font-style : italic; 
font-weight : bold; 
} 
.WarningMessages { 
color : green; 
font-style : italic; 
font-weight : bold; 
} 
TR.formrow { 
background-image : url(../images/dotline.jpg); 
background-repeat : repeat-x; 
background-position : left bottom; 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #666666; 
padding-top : 0; 
padding-right : 0; 
padding-bottom : 3px; 
padding-left : 2px; 
} 
#masthead { 
background-color : #004080; 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 13px; 
font-weight : bolder; 
padding-top : 2px; 
padding-right : 2px; 
padding-bottom : 4px; 
padding-left : 8px; 
border-bottom-width : 1px; 
border-top-style : none; 
border-right-style : none; 
border-bottom-style : solid; 
border-left-style : none; 
border-bottom-color : #cecdbb; 
color : white; 
height : 35px; 
} 
topnsa #masthead A:link { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : normal; 
color : #333333; 
text-decoration : underline; 
} 
#masthead A:visited { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : normal; 
color : #333333; 
text-decoration : underline; 
} 
#masthead A:hover { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : normal; 
color : #333333; 
text-decoration : none; 
} 
#topnav { 
background-image : url(../images/topnavbg.jpg); 
background-repeat : repeat-x; 
background-position : left top; 
text-decoration : none; 
height : 28px; 
} 
#topnav UL { 
right : 0; 
margin : 0; 
list-style-type : none; 
top : 0; 
padding : 0; 
bottom : 0; 
} 
#topnav LI { 
float : left; 
height : 28px; 
width : 95px; 
padding : 0; 
text-align : center; 
margin-left : 4px; 
} 
#topnav a:link { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #ffffff; 
text-decoration : none; 
padding-top : 0; 
padding-right : 2px; 
padding-bottom : 0; 
padding-left : 2px; 
height : 28px; 
} 
#topnav a:visited { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #ffffff; 
text-decoration : none; 
padding-top : 0; 
padding-right : 2px; 
padding-bottom : 0; 
padding-left : 2px; 
height : 28px; 
} 
#topnav a:hover { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #333333; 
text-decoration : none; 
background-image : url(../images/activetab.jpg); 
background-repeat : no-repeat; 
background-position : center bottom; 
height : 20px; 
width : 95px; 
padding-top : 6px; 
padding-right : 0; 
padding-bottom : 2px; 
padding-left : 0; 
display : block; 
} 
#topnav a.active:link { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #333333; 
text-decoration : none; 
background-image : url(../images/activetab.jpg); 
background-repeat : no-repeat; 
background-position : center bottom; 
height : 20px; 
width : 95px; 
padding-top : 6px; 
padding-right : 0; 
padding-bottom : 2px; 
padding-left : 0; 
display : block; 
} 
#topnav a.active:visited { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #333333; 
text-decoration : none; 
background-image : url(../images/activetab.jpg); 
background-repeat : no-repeat; 
background-position : center bottom; 
height : 20px; 
width : 95px; 
padding-top : 6px; 
padding-right : 0; 
padding-bottom : 2px; 
padding-left : 0; 
display : block; 
} 
#topnav a.active:hover { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #333333; 
text-decoration : none; 
background-image : url(../images/activetab.jpg); 
background-repeat : no-repeat; 
background-position : center bottom; 
height : 20px; 
width : 95px; 
padding-top : 6px; 
padding-right : 0; 
padding-bottom : 2px; 
padding-left : 0; 
display : block; 
} 
#topnav img { 
cursor : pointer; 
} 
#globalNav { 
color : #cccccc; 
padding : 0; 
margin : 0; 
background-position : left top; 
background-repeat : repeat-x; 
height : 23px; 
border-top-style : none; 
border-right-style : none; 
border-bottom-style : solid; 
border-left-style : none; 
border-bottom-width : 1px; 
border-bottom-color : #b1b1b1; 
background-color : #eceef2; 
} 
#globalLink { 
padding : 0; 
z-index : 100; 
height : 23px; 
margin-top : 0; 
margin-right : 0; 
margin-bottom : 0; 
margin-left : 0; 
background-color : #e8edf4; 
} 
#globalLink a { 
font-size : 11px; 
color : #333333; 
font-weight : bold; 
margin : 0; 
font-family : Arial, Helvetica, sans-serif; 
text-decoration : none; 
border-right-style : none; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
border-top-style : none; 
border-bottom-style : none; 
border-left-style : none; 
vertical-align : middle; 
} 
#globalLink a.active:visited { 
font-size : 11px; 
color : #d17714; 
font-weight : bold; 
margin : 0; 
font-family : Arial, Helvetica, sans-serif; 
text-decoration : none; 
border-right-style : none; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
border-top-style : none; 
border-bottom-style : none; 
border-left-style : none; 
vertical-align : middle; 
} 
#globalLink A.activeLink { 
font-size : 11px; 
color : #d17714; 
font-weight : bold; 
margin : 0; 
font-family : Arial, Helvetica, sans-serif; 
text-decoration : none; 
border-right-style : none; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
border-top-style : none; 
border-bottom-style : none; 
border-left-style : none; 
vertical-align : middle; 
} 
span.navigation_diabled { 
font-size : 11px; 
color : gray; 
font-weight : bold; 
margin : 0; 
font-family : Arial, Helvetica, sans-serif; 
text-decoration : none; 
border-right-style : none; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
border-top-style : none; 
border-bottom-style : none; 
border-left-style : none; 
vertical-align : middle; 
} 
#globalLink a:hover { 
text-decoration : none; 
font-family : Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-weight : bolder; 
background-position : top; 
color : #d17714; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
vertical-align : middle; 
} 
input { 
font-family : Arial, Helvetica, sans-serif; 
font-size : 11px; 
color : #666666; 
padding : 2px 1px; 
} 
#detailstable { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 13px; 
font-weight : bolder; 
color : black; 
border-width : 1px; 
border-style : solid; 
border-color : #d3d3d3; 
} 
#errormsgtable { 
font-size : 13px; 
font-weight : bold; 
color : #b22222; 
padding-left : 10px; 
} 
#td-cellspacing { 
padding : 10px; 
} 
#bordertable { 
border-left-width : 1px; 
border-left-style : solid; 
border-left-color : #BED6F0; 
border-bottom-width : 1px; 
border-bottom-style : solid; 
border-bottom-color : #BED6F0; 
border-right-width : 1px; 
border-right-style : solid; 
border-right-color : #BED6F0;  
border-top-width : 1px; 
border-top-style : solid; 
border-top-color : #BED6F0;  
color : white; 
} 
#linkstable { 
border-bottom : 1px; 
border-bottom-color : black; 
border-bottom-style : solid; 
border-top : 0; 
border-top-color : black; 
border-top-style : solid; 
background-color : #004080; 
color : white; 
font-size : 11px; 
font-weight : bold; 
height : 25px; 
} 
div.menuBar, div.menuBar a.menuButton, div.menu, div.menu a.menuItem { 
font-family : "MS Sans Serif", Arial, sans-serif; 
font-size : 8pt; 
font-style : normal; 
font-weight : bold; 
color : #000000; 
} 
div.menuBar { 
background-color : #e1e1e1; 
border : 2px outset white; 
padding : 4px 2px 4px 2px; 
text-align : left; 
} 
div.menuBar a.menuButton { 
background-color : transparent; 
color : #000000; 
cursor : default; 
left : 0; 
margin : 1px; 
padding : 2px 6px; 
position : relative; 
text-decoration : none; 
top : 0; 
z-index : 100; 
} 
div.menuBar a.menuButton:hover { 
background-color : transparent; 
border : 1px outset white; 
color : #000000; 
} 
div.menuBar a.menuButtonActive, div.menuBar a.menuButtonActive:hover { 
border : 1px inset white; 
left : 1px; 
top : 1px; 
} 
div.menu { 
background-color : #e1e1e1; 
border : 2px outset white; 
left : 0; 
padding : 0 1px 1px 0; 
position : absolute; 
top : 0; 
visibility : hidden; 
z-index : 101; 
} 
div.menu a.menuItem { 
color : #000000; 
cursor : default; 
display : block; 
padding : 3px 1em; 
text-decoration : none; 
white-space : nowrap; 
} 
div.menu a.menuItem:hover, div.menu a.menuItemHighlight { 
background-color : #c0c0c0; 
color : #ffffff; 
} 
div.menu a.menuItem span.menuItemArrow { 
margin-right : -0.75em; 
} 
div.menu div.menuItemSep { 
border-top : 1px solid #909090; 
border-bottom : 1px solid #f0f0f0; 
margin : 4px 2px; 
} 
td.forumRowHighlight { 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
} 
td.on { 
background-color : #cbdeef; 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
cursor : pointer; 
} 
td.off { 
background-color : #ffffff; 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
cursor : default; 
} 
input.forumRowHighlight { 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
} 
input.forumRowHighlightNumeric { 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
}

textarea.forumRowHighlight { 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
}
richToolTipStyle { 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
background-color : red; 
} 
input.on { 
background-color : #cbdeef; 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
} 
input.off { 
background-color : #ffffff; 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
} 
a.navigation_active_link { 
width : 170px; 
height : 18px; 
border : 1px solid black; 
background : #f5f5f5; 
color : #ffffff; 
text-decoration : none; 
font-size : 10pt; 
text-align : center; 
} 
a.navigation_inactive_link { 
width : 170px; 
height : 18px; 
border : 1px solid black; 
background : #708090; 
color : #ffffff; 
text-decoration : none; 
font-size : 10pt; 
text-align : center; 
} 
.toolbaroutputTextStyle { 
font-weight : bold; 
} 
.disabletoolbaroutputTextStyle { 
color : gray; 
} 
.gridsaveColoumn { 
width : 1px; 
} 
.columnCentreStyle { 
text-align : center; 
font-size : 11px; 
font-weight : bold; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
background-color : #e8e8e8; 
} 
.columnRightStyle { 
text-align : right; 
font-size : 11px; 
font-weight : bold; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
background-color : #e8e8e8; 
} 
.centerColumnContents { 
text-align : center; 
} 
.dataTableSelectedRow { 
background-color : #f1f3a9; 
} 
.dataTableNonSelectedRow { 
background-color : #ffffff; 
}

.dataTableSelectedRowNumeric { 
background-color : #f1f3a9;
text-align : right; 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
} 
.dataTableNonSelectedRowNumeric { 
background-color : #ffffff;
text-align : right; 
font-size : 11px; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
} 

.subTitle { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #004080; 
} 
#footer { 

border-top-width : 1px; 
border-top-style : solid; 
border-right-style : none; 
border-bottom-style : none; 
border-left-style : none; 
border-top-color : #dadada; 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
height : 20px; 
text-align : center; 
color : #666666; 
} 
#menu a:link { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : normal; 
color : #666666; 
text-decoration : none; 
padding-top : 0; 
padding-right : 4px; 
padding-bottom : 0; 
padding-left : 4px; 
} 
#menu a:visited { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : normal; 
color : #666666; 
text-decoration : none; 
padding-top : 0; 
padding-right : 4px; 
padding-bottom : 0; 
padding-left : 4px; 
} 
#menu a:hover { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : normal; 
color : #006699; 
text-decoration : none; 
padding-top : 0; 
padding-right : 4px; 
padding-bottom : 0; 
padding-left : 4px; 
} 
#menutopnav { 
background-image : url(../images/topnavbg.jpg); 
background-repeat : repeat-x; 
background-position : left top; 
text-decoration : none; 
height : 28px; 
} 
#menutopnav UL { 
right : 0; 
margin : 0; 
list-style-type : none; 
top : 0; 
padding : 0; 
bottom : 0; 
} 
#menutopnav LI { 
float : left; 
height : 28px; 
width : 120px; 
padding : 0; 
text-align : center; 
margin-left : 4px; 
} 
#menutopnav LI.navi { 
float : left; 
height : 28px; 
width : 12px; 
padding : 0; 
text-align : center; 
margin-left : 4px; 
} 
#menutopnav a:link { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #ffffff; 
text-decoration : none; 
padding-top : 0; 
padding-right : 2px; 
padding-bottom : 0; 
padding-left : 2px; 
height : 28px; 
} 
#menutopnav a:visited { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #ffffff; 
text-decoration : none; 
padding-top : 0; 
padding-right : 2px; 
padding-bottom : 0; 
padding-left : 2px; 
height : 28px; 
} 
#menutopnav a:hover { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #333333; 
text-decoration : none; 
background-image : url(../images/activetab.jpg); 
background-repeat : no-repeat; 
background-position : center bottom; 
height : 20px; 
width : 120px; 
padding-top : 6px; 
padding-right : 0; 
padding-bottom : 2px; 
padding-left : 0; 
display : block; 
} 
#menutopnav a.active:link { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #333333; 
text-decoration : none; 
background-image : url(../images/activetab.jpg); 
background-repeat : no-repeat; 
background-position : center bottom; 
height : 20px; 
width : 120px; 
padding-top : 6px; 
padding-right : 0; 
padding-bottom : 2px; 
padding-left : 0; 
display : block; 
} 
#menutopnav a.active:visited { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #333333; 
text-decoration : none; 
background-image : url(../images/activetab.jpg); 
background-repeat : no-repeat; 
background-position : center bottom; 
height : 20px; 
width : 120px; 
padding-top : 6px; 
padding-right : 0; 
padding-bottom : 2px; 
padding-left : 0; 
display : block; 
} 
#menutopnav a.active:hover { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
color : #333333; 
text-decoration : none; 
background-image : url(../images/activetab.jpg); 
background-repeat : no-repeat; 
background-position : center bottom; 
height : 20px; 
width : 120px; 
padding-top : 6px; 
padding-right : 0; 
padding-bottom : 2px; 
padding-left : 0; 
display : block; 
} 
#menutopnav img { 
cursor : pointer; 
} 
#menuGlobalNav { 
color : #cccccc; 
padding : 0; 
margin : 0; 
background-position : left top; 
background-repeat : repeat-x; 
height : 23px; 
border-top-style : none; 
border-right-style : none; 
border-bottom-style : solid; 
border-left-style : none; 
border-bottom-width : 1px; 
border-bottom-color : #b1b1b1; 
background-color : #eed8ae; 
} 
#menuGlobalNav A { 
	color: #cccccc;
	padding: 0px;
	margin: 0px;
	background-position: left top;
	background-repeat: repeat-x;
	height: 23px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #B1B1B1;
	background-color: #ECEEF2;
} 
#menuGlobalLink { 
	padding: 0px;
	z-index: 100;
	height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #E8EDF4;
}
#menuGlobalLink A { 
font-size : 11px; 
color : #333333; 
font-weight : bold; 
margin : 0; 
font-family : Arial, Helvetica, sans-serif; 
text-decoration : none; 
border-right-style : none; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
border-top-style : none; 
border-bottom-style : none; 
border-left-style : none; 
vertical-align : middle; 
} 
#menuGlobalLink A.activeLink { 
font-size : 11px; 
color : #ff0000; 
font-weight : bold; 
margin : 0; 
font-family : Arial, Helvetica, sans-serif; 
text-decoration : none; 
border-right-style : none; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
border-top-style : none; 
border-bottom-style : none; 
border-left-style : none; 
vertical-align : middle; 
} 
#menuGlobalLink A:hover { 
text-decoration : none; 
font-family : Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-weight : bolder; 
background-position : top; 
color : #ff0000; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
vertical-align : middle; 
} 
#menuGlobalLink UL { 
right : 0; 
margin : 0; 
list-style-type : none; 
top : 0; 
padding : 0; 
bottom : 0; 
} 
#menuGlobalLink LI { 
float : left; 
padding : 0; 
text-align : center; 
margin-left : 4px; 
} 
#menuGlobalNav2 { 
color : #cccccc; 
padding : 0; 
margin : 0; 
background-position : left top; 
background-repeat : repeat-x; 
height : 23px; 
border-top-style : none; 
border-right-style : none; 
border-bottom-style : solid; 
border-left-style : none; 
border-bottom-width : 1px; 
border-bottom-color : #b1b1b1; 
background-color : #c5dbf9; 
} 
#menuGlobalNav2 A { 
color : #cccccc; 
padding : 0; 
margin : 0; 
background-position : left top; 
background-repeat : repeat-x; 
height : 23px; 
border-top-style : none; 
border-right-style : none; 
border-bottom-style : solid; 
border-left-style : none; 
border-bottom-width : 1px; 
border-bottom-color : #b1b1b1; 
background-color : #eceef2; 
} 
#menuGlobalLink2 { 
padding : 0; 
z-index : 100; 
height : 23px; 
margin-top : 0; 
margin-right : 0; 
margin-bottom : 0; 
margin-left : 0; 
background-color : #c5dbf9; 
} 
#menuGlobalLink2 A { 
font-size : 11px; 
color : #333333; 
font-weight : bold; 
margin : 0; 
font-family : Arial, Helvetica, sans-serif; 
text-decoration : none; 
border-right-style : none; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
border-top-style : none; 
border-bottom-style : none; 
border-left-style : none; 
vertical-align : middle; 
} 
#menuGlobalLink2 A.activeLink { 
font-size : 11px; 
color : #008000; 
font-weight : bold; 
margin : 0; 
font-family : Arial, Helvetica, sans-serif; 
text-decoration : none; 
border-right-style : none; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
border-top-style : none; 
border-bottom-style : none; 
border-left-style : none; 
vertical-align : middle; 
} 
#menuGlobalLink2 A:hover { 
text-decoration : none; 
font-family : Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-weight : bolder; 
background-position : top; 
color : #008000; 
padding-top : 0; 
padding-right : 10px; 
padding-bottom : 0; 
padding-left : 10px; 
vertical-align : middle; 
} 
#menuGlobalLink2 UL { 
right : 0; 
margin : 0; 
list-style-type : none; 
top : 0; 
padding : 0; 
bottom : 0; 
} 
#menuGlobalLink2 LI { 
float : left; 
padding : 0; 
text-align : center; 
margin-left : 4px; 
} 
input { 
font-family : Arial, Helvetica, sans-serif; 
font-size : 11px; 
color : #666666; 
padding : 2px 1px; 
} 
div.menuBar, div.menuBar a.menuButton, div.menu, div.menu a.menuItem { 
font-family : "MS Sans Serif", Arial, sans-serif; 
font-size : 8pt; 
font-style : normal; 
font-weight : bold; 
color : #000000; 
} 
div.menuBar { 
background-color : #3ca0d4; 
border : 2px outset white; 
padding : 4px 2px 4px 2px; 
text-align : left; 
} 
div.menuBar a.menuButton { 
background-color : transparent; 
color : #000000; 
cursor : default; 
left : 0; 
margin : 1px; 
padding : 2px 6px; 
position : relative; 
text-decoration : none; 
top : 0; 
z-index : 100; 
} 
div.menuBar a.pagination { 
background-color : transparent; 
color : #000000; 
cursor : default; 
left : 0; 
margin : 1px; 
padding : 2px 6px; 
position : relative; 
text-decoration : none; 
top : 0; 
z-index : 100; 
} 
div.menuBar a.menuButton:hover { 
background-color : transparent; 
border : 1px outset white; 
color : #000000; 
} 
div.menuBar a.menuButtonActive, div.menuBar a.menuButtonActive:hover { 
border : 1px inset white; 
left : 1px; 
top : 1px; 
} 
div.menu { 
background-color : #3ca0d4; 
border : 2px outset white; 
left : 0; 
padding : 0 1px 1px 0; 
position : absolute; 
top : 0; 
visibility : hidden; 
z-index : 101; 
} 
div.menu a.menuItem { 
color : #000000; 
cursor : default; 
display : block; 
padding : 3px 1em; 
text-decoration : none; 
white-space : nowrap; 
} 
div.menu a.menuItem:hover, div.menu a.menuItemHighlight { 
background-color : #c0c0c0; 
color : #ffffff; 
} 
div.menu a.menuItem span.menuItemArrow { 
margin-right : -0.75em; 
} 
div.menu div.menuItemSep { 
border-top : 1px solid #909090; 
border-bottom : 1px solid #f0f0f0; 
margin : 4px 2px; 
} 
.droplinetabs { 
overflow : hidden; 
border-bottom : 1px solid gray; 
background-color : #eceef2; 
color : white; 
} 
.droplinetabs ul { 
margin : 0; 
padding : 0; 
width : 100%; 
list-style : none; 
} 
.droplinetabs li { 
display : inline; 
margin : 0 2px 0 0; 
padding : 0; 
} 
.droplinetabs a { 
float : left; 
color : white; 
background : #5b7198 url(../images/leftedge.gif) no-repeat left top; 
margin : 0 1px 0 0; 
padding : 0 0 4px 3px; 
text-decoration : none; 
letter-spacing : 1px; 
} 
.droplinetabs a:link, .droplinetabs a:visited, .droplinetabs a:active { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : bolder; 
text-decoration : none; 
color : white; 
} 
.droplinetabs a span { 
float : left; 
display : block; 
background : transparent url(../images/rightedge.gif) no-repeat right top; 
padding : 3px 9px 3px 6px; 
cursor : pointer; 
text-decoration : none; 
} 
.droplinetabs a:hover { 
background-color : #c5dbf9; 
color : #37435b; 
text-decoration : none; 
} 
.droplinetabs a.active:visited { 
background-color : #c5dbf9; 
color : #37435b; 
text-decoration : none; 
} 
.droplinetabs a:hover span { 
background-color : transparent; 
text-decoration : none; 
} 
.droplinetabs ul li ul { 
position : absolute; 
z-index : 100; 
left : 0; 
top : 0; 
background : #5b7198; 
visibility : hidden; 
text-decoration : none; 
} 
.droplinetabs ul li ul li a { 
font : normal 11px Verdana; 
padding : 6px; 
padding-right : 8px; 
margin : 0; 
background : #5b7198; 
text-decoration : none; 
} 
.droplinetabs ul li ul li a span { 
background : #5b7198; 
text-decoration : none; 
} 
.droplinetabs ul li ul li a:hover { 
background : #f5f6f8; 
text-decoration : none; 
} 
.chart-table { 
border : 1px; 
border-color : #BED6F8; 
display : block; 
vertical-align : middle; 
text-align : left; 
margin : 0; 
border-top-style : solid; 
border-right-style : solid; 
border-bottom-style : solid; 
border-left-style : solid; 
} 
.chart-header { 
border : 0; 
background-color : #c0c0c0; 
display : block; 
font-weight : bold; 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 12px; 
margin : 0; 
vertical-align : middle; 
text-align : left; 
} 
.chart-row { 
border : 0; 
background-color : inherit; 
font-weight : normal; 
vertical-align : middle; 
text-align : left; 
} 
.chart-description { 
border : 0; 
background-color : inherit; 
display : block; 
font-weight : normal; 
margin : 0; 
vertical-align : middle; 
text-align : left; 
} 
.rich-panel { 
border-width : 1; 
border-style : solid; 
padding : 0; 
} 
.rich-panel-body { 
	padding : 0; 
} 
input { 
font-family : Arial, Helvetica, sans-serif; 
font-size : 11px; 
font-weight : normal; 
color : #333333; 
} 
.MastheadBg { 
background-image : url(../images/MastheadBg.jpg); 
background-repeat : repeat-x; 
background-position : left top; 
height : 48px; 
} 
.LogoutPanel { 
height : 20px; 
background-color : #efefef; 
font-family : Arial, Helvetica, sans-serif; 
font-size : 12px; 
font-weight : normal; 
color : #333333; 
margin : 0; 
padding : 0; 
} 
.FixedButton { 
border-right : 1px solid #999999; 
background-position : left bottom; 
border-top : 1px solid #999999; 
font-weight : bolder; 
font-size : 11px; 
background-image : url(../images/bgbutton.jpg); 
border-left : 1px solid #999999; 
color : #333333; 
border-bottom : 1px solid #999999; 
background-repeat : repeat-x; 
font-family : Arial, Helvetica, sans-serif; 
height : 18px; 
padding : 0; 
margin-top : 1px; 
margin-right : 0; 
margin-bottom : 1px; 
margin-left : 0; 
} 
.label { 
font-family : Arial; 
font-size : 11px; 
font-weight : normal; 
color : #000000;
} 
.button { 
font-size : 11px; 
font-weight : normal; 
font-family : Arial;
font-color : #060606;
background : url(../../images/bluebuttonbg.gif) repeat-x; 
height : 20px; 
border : 1px solid #C6C6C6;
color : #060606;  
} 
.leftbg { 
background-image : url(../images/leftbg.gif); 
background-repeat : repeat-y; 
background-position : left top; 
height : 350px; 
width : 16px; 
} 
.rightbg { 
background-image : url(../images/rightbg.gif); 
background-repeat : repeat-y; 
background-position : right top; 
height : 350px; 
width : 16px; 
} 
.bottomtbg { 
background-image : url(../images/bottombg.gif); 
background-repeat : repeat-x; 
background-position : right bottom; 
height : 16px; 
} 
#menuhead { 
background-color : #004080; 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 13px; 
font-weight : bolder; 
padding-top : 2px; 
padding-right : 2px; 
padding-bottom : 4px; 
padding-left : 8px; 
border-bottom-width : 1px; 
border-top-style : none; 
border-right-style : none; 
border-bottom-style : solid; 
border-left-style : none; 
border-bottom-color : #cecdbb; 
color : white; 
height : 35px; 
} 
topnsa #menuhead A:link { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : normal; 
color : #ffffff; 
text-decoration : underline; 
padding-top : 0; 
padding-right : 4px; 
padding-bottom : 0; 
padding-left : 4px; 
} 
#menuhead A:visited { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : normal; 
color : #ffffff; 
text-decoration : underline; 
padding-top : 0; 
padding-right : 4px; 
padding-bottom : 0; 
padding-left : 4px; 
} 
#menuhead A:hover { 
font-family : Arial, Verdana, "Times New Roman"; 
font-size : 11px; 
font-weight : normal; 
color : #ffffff; 
text-decoration : none; 
padding-top : 0; 
padding-right : 4px; 
padding-bottom : 0; 
padding-left : 4px; 
} 

p.note{
	padding: 15px 30px 35px 85px;
	margin: 20px; border: 1px solid #ACBECE;
	background: url(../images/note_bg.gif) top left no-repeat #F0F3F7;
}

subTitle {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #004080;
}

#td-background{
	text-align: right;
}

.chartborder{
   border-right:1px solid #BED6F8;
   border-left:1px solid #BED6F8;
   border-bottom:1px solid #BED6F8;
}

.assuraddrbutton
{
   font-size:9px;
   font-family:Verdana,sans-serif;
   font-weight:bold;
   color:#000000;
   width:37px;
   height:20px;
   background-color:gray;
   border-style:solid;
   border-width:1px;
}
.chartborder{
		       border-top:1px solid #BED6F8;
			   border-right:1px solid #BED6F8;
			   border-left:1px solid #BED6F8;
			   border-bottom:1px solid #BED6F8;
}
.summary-header { 
				border : 0; 
				background-color : #BED6F0; 
				font-weight : bold; 
				font-family : Arial, Verdana, "Times New Roman"; 
				font-size : 12px; 
				color : black;
				margin : 0; 
				vertical-align : middle; 
				text-align : left; 
				height:20px;
} 
.wizard-footer { 
				border : 0; 
				background-color : #BED6F0; 
				display : block; 
				font-weight : bold; 
				font-family : Arial, Verdana, "Times New Roman"; 
				font-size : 12px; 
				margin : 0; 
				vertical-align : middle; 
				text-align : right; 
} 

.oddrow { 
	font-size : 1em; 
	color : #000000; 
	text-align : left; 
	padding-left : 5px; 
	height : 25px; 
	background-color : #f6f8f9; 
} 
.evenrow { 
	font-size : 1em; 
	color : #000000; 
	text-align : left; 
	padding-left : 5px; 
	height : 25px; 
	background-color : #fff; 
} 

.oddrowright { 
	font-size : 1em; 
	color : #000000; 
	text-align : left; 
	padding-right : 5px; 
	height : 25px; 
	background-color : #f6f8f9; 
} 
.evenrowright { 
	font-size : 1em; 
	color : #000000; 
	text-align : left; 
	padding-right : 5px; 
	height : 25px; 
	background-color : #fff; 
}
.oddrowfreeze { 
	font-size : 1em; 
	color : #000000; 
	text-align : right; 
	padding-right : 5px; 
	height : 25px; 
	background-color : #f6f8f9; 
} 
.evenrowfreeze { 
	font-size : 1em; 
	color : #000000; 
	text-align : right; 
	padding-right : 5px; 
	height : 25px; 
	background-color : #fff; 
}
#container { 
width : 100%; 
background-color : #fff; 
vertical-align : top; 
} 

#tablecontainer { 
width : 100%; 
} 

#sidebar { 
float : left; 
} 

#handle { 
float : right; 
height : 100%; 
width : 5px; 
vertical-align : middle; 
cursor : pointer; 
z-index : 1; 
} 

#sbText { 
padding : 5px 5px 0 5px;
vertical-align:top;
}

.toolbarButtonStyle{
	vertical-align : middle;
}
.arrowbutton { 
vertical-align:middle;
cursor: pointer;
}
#content { 
float : right; 
padding-right : 0px; 
padding-left : 0; 
padding-top : 5px; 
padding-bottom : 5px; 
height : 40%; 
} 

.searchimg { 
vertical-align : middle; 
cursor : auto;
border: 0;
} 
.inputsmall { 
border : 1px solid #395171; 
font-size : 11px; 
width : 25%; 
vertical-align : middle; 
} 
.input { 
border : 1px solid #395171; 
font-size : 11px;
width : auto;
vertical-align : middle; 
}
.inputforPremiumDtl { 
text-align : right;
border : 1px solid #395171; 
font-size : 11px;
width : 100px;
vertical-align : middle; 
}
.summary_oddrow { 
				font-size :8pt; 
				color : #000000; 
				text-align : left; 
				padding-left : 5px; 
				height : 25px; 
				background-color : #f6f8f9; 
				font-family : Arial, Verdana, "Times New Roman"; 
			} 
.summary_evenrow { 
				font-size :8pt; 
				color : #000000; 
				text-align : left; 
				padding-left : 5px; 
				height : 25px; 
				background-color : #fff; 
				font-family : Arial, Verdana, "Times New Roman"; 
			} 
.calendarinput { 
	border : 1px solid #395171; 
	font-size : 11px; 
	width : 55px; 
	vertical-align : middle; 
}
.calendarinputNew { 
	border : 1px solid #395171; 
	font-size : 11px; 
	width : 90px; 
	vertical-align : middle; 
} 		

.calendarinputNew_With_Sec { 
	border : 1px solid #395171; 
	font-size : 11px; 
	width : 90px; 
	vertical-align : middle; 
} 	


.calendarinputNew_QE { 
	border : 1px solid #395171; 
	font-size : 10px; 
	width : 90px; 
	vertical-align : middle; 

}

.dropdown {
	border:1px solid #395171;
	font-size:11px;
	color:#000;
}
.noborder { 
	border-collapse : collapse; 
}

.inputNumeric { 
	text-align : right;
	border : 1px solid #395171; 
	font-size : 11px;
	width : auto;
	vertical-align : middle; 
} 

.mandatory{
	color : red;
	font-size : 11px;
	font-family : verdana;
	font-weight : bold;	
}
.deletedyes{
	font-size:12px;
	color:red;
}
.deletedno{
	font-size:12px;
	color:black;
}
