body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(images/background.jpg) repeat-y fixed right;
}

.border {
	border-top:3px solid #febf01;
	border-bottom:3px solid #febf01;
	border-right:3px solid #febf01;
}

.bordercorner {
	border-top:3px solid #febf01;
	border-bottom:3px solid #febf01;
}

.borderright {
	border-right:3px solid #febf01;
	height:65px;
}

.loginhead {
	font-family: "Trebuchet MS";
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:10px;
}

.textheading {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	letter-spacing:1px;
	padding-left:10px;
	color:#FFFFFF;
}

.textinput{
	border-right:1px solid #4c4c4c;
	border-left:1px solid #4c4c4c;
	border-bottom:1px solid #4c4c4c;
	border-top:1px solid #4c4c4c;
	background-color:#ffffff;
	color: #000000;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px;
	width:120px;
}

.selectinput{
	border-right:1px solid #4c4c4c;
	border-left:1px solid #4c4c4c;
	border-bottom:1px solid #4c4c4c;
	border-top:1px solid #4c4c4c;
	background-color:#ffffff;
	color: #000000;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px;
	width:124px;
}

.copyright { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; 
	color:#d10000;
	text-align:center;
	border-right:3px solid #febf01;
	height:60px;
}

.cursor {
	cursor:pointer;
}

.height {
	height:100%;
}

.label {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}