#footer {
	background-color: #F4F4F4;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #DADADA;
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	height: 20px;
	text-align: center;
	color: #666666;
}

#menu a:link {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}

#menu a:visited {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
#menu a:hover {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #006699;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}

#menutopnav{
	background-image: url(../images/topnavbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	text-decoration: none;
	height: 28px;
}
#menutopnav UL {
	RIGHT: 0px;
	MARGIN: 0px;
	LIST-STYLE-TYPE: none;
	TOP: 0px;
	padding: 0px;
	bottom: 0px;
}
#menutopnav LI {
	FLOAT: left;
	height: 28px;
	width: 120px;
	padding: 0px;
	text-align: center;
	margin-left: 4px;
}
#menutopnav LI.navi{
	FLOAT: left;
	height: 28px;
	width: 12px;
	padding: 0px;
	text-align: center;
	margin-left: 4px;
}

#menutopnav a:link{
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	height: 28px;
}
#menutopnav a:visited {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	height: 28px;
}
#menutopnav a:hover {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
	background-image: url(../images/activetab.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 20px;
	width: 120px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	display: block;
}
#menutopnav a.active:link {
font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
	background-image: url(../images/activetab.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 20px;
	width: 120px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	display: block;
}
#menutopnav a.active:visited {
font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
	background-image: url(../images/activetab.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 20px;
	width: 120px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	display: block;
}
#menutopnav a.active:hover {
font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
	background-image: url(../images/activetab.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 20px;
	width: 120px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	display: block;
}
#menutopnav img {
	cursor: pointer;
}


/************* globalNav styles ****************/

#menuGlobalNav{
	color: #cccccc;
	padding: 0px;
	margin: 0px;
	background-position: left top;
	background-repeat: repeat-x;
	height: 23px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #B1B1B1;
	background-color: #eed8ae ;
}

#menuGlobalNav A{
	color: #cccccc;
	padding: 0px;
	margin: 0px;
	background-position: left top;
	background-repeat: repeat-x;
	height: 23px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #B1B1B1;
	background-color: #ECEEF2;
}

#menuGlobalLink{
	padding: 0px;
	z-index: 100;
	height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #E8EDF4;
}


#menuGlobalLink A {
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-right-style: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}



#menuGlobalLink A.activeLink{
	font-size: 11px;
	color: #FF0000;
	font-weight: bold;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-right-style: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}

#menuGlobalLink  A:hover{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	/*width: 100%;*/
	background-position: top;
	color: #FF0000;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	vertical-align: middle;
}

#menuGlobalLink UL {
	RIGHT: 0px;
	MARGIN: 0px;
	LIST-STYLE-TYPE: none;
	TOP: 0px;
	padding: 0px;
	bottom: 0px;
}
#menuGlobalLink LI {
	FLOAT: left;
	padding: 0px;
	text-align: center;
	margin-left: 4px;
}

#menuGlobalNav2{
	color: #cccccc;
	padding: 0px;
	margin: 0px;
	background-position: left top;
	background-repeat: repeat-x;
	height: 23px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #B1B1B1;
	background-color: #C5DBF9 ;
}

#menuGlobalNav2 A{
	color: #cccccc;
	padding: 0px;
	margin: 0px;
	background-position: left top;
	background-repeat: repeat-x;
	height: 23px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #B1B1B1;
	background-color: #ECEEF2;
}

#menuGlobalLink2{
	padding: 0px;
	z-index: 100;
	height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #C5DBF9;
}


#menuGlobalLink2 A {
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-right-style: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}



#menuGlobalLink2 A.activeLink{
	font-size: 11px;
	color: #008000;
	font-weight: bold;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-right-style: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}

#menuGlobalLink2  A:hover{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	/*width: 100%;*/
	background-position: top;
	color: #008000;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	vertical-align: middle;
}

#menuGlobalLink2 UL {
	RIGHT: 0px;
	MARGIN: 0px;
	LIST-STYLE-TYPE: none;
	TOP: 0px;
	padding: 0px;
	bottom: 0px;
}
#menuGlobalLink2 LI {
	FLOAT: left;
	padding: 0px;
	text-align: center;
	margin-left: 4px;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding: 2px 1px;
}
	
/******** Menu Bar **************/


div.menuBar,
div.menuBar a.menuButton,
div.menu,
div.menu a.menuItem {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

div.menuBar {
  background-color: #3CA0D4 ;
  border: 2px outset white;
  padding: 4px 2px 4px 2px;
  text-align: left;
   /*  background-image: url(images/menu.jpg); */
}

div.menuBar a.menuButton {
  background-color: transparent;
  color: #000000;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.pagination {
  background-color: transparent;
  color: #000000;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton:hover {
  background-color: transparent;
  border: 1px outset white;
  color: #000000;
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
  border: 1px inset white;
  left: 1px;
  top: 1px;
}

div.menu {
  background-color: #3CA0D4  ;
  border: 2px outset white;
  left: 0px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  color: #000000;
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #C0C0C0;
  color: #ffffff;
}

div.menu a.menuItem span.menuItemText {}

div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

div.menu div.menuItemSep {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}

.droplinetabs{
overflow: hidden;
border-bottom: 1px solid gray; /*underline across bottom of main tabs*/
background-color: #ECEEF2;
color: white;
}

.droplinetabs ul{
margin: 0;
padding: 0;
width: 100%;
list-style: none;
}

.droplinetabs li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
/* text-transform: uppercase; */
}


.droplinetabs a{
float: left;
color: white;
/*default background color of tabs, left corner image*/
background: #5b7198 url(../images/leftedge.gif) no-repeat left top;
margin: 0 1px 0 0;
padding: 0 0 4px 3px;
text-decoration: none;
letter-spacing: 1px;
}

.droplinetabs a:link, .droplinetabs a:visited, .droplinetabs a:active{
font-family: Arial, Verdana, "Times New Roman";
font-size: 11px;
font-weight: bolder;
text-decoration: none;
color: white;
}

.droplinetabs a span{
float: left;
display: block;
background: transparent url(../images/rightedge.gif) no-repeat right top; /*right corner image*/
padding: 3px 9px 3px 6px;
cursor: pointer;
text-decoration: none;
}

.droplinetabs a:hover{
background-color: #C5DBF9; /*background color of tabs onMouseover*/
color: #37435b;
text-decoration: none;
}

.droplinetabs a.active:visited{
background-color: #C5DBF9; /*background color of tabs onMouseover*/
color: #37435b;
text-decoration: none;
}

.droplinetabs a:hover span{
background-color: transparent;
text-decoration: none;
}

/* Sub level menus*/
.droplinetabs ul li ul{
position: absolute;
z-index: 100;
left: 0;
top: 0;
background: #5b7198; /*sub menu background color */
visibility: hidden;
text-decoration: none;
}

/* Sub level menu links style */
.droplinetabs ul li ul li a{
font: normal 11px Verdana;
padding: 6px;
padding-right: 8px;
margin: 0;
background: #5b7198; /*sub menu background color */
text-decoration: none;
}

.droplinetabs ul li ul li a span{
background: #5b7198; /*sub menu background color */
text-decoration: none;
}

.droplinetabs ul li ul li a:hover{ 
	/*sub menu links' background color onMouseover. Add rounded edges in capable browsers */
background: #f5f6f8;
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
text-decoration: none;
}
.chart-table{
	border: 1px;
	border-color: black;

	display: block;
	vertical-align: middle;
	text-align: left;
	margin: 0px;
	border-top-style: solid;	
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.chart-header{
	border: 0px;
	background-color: #C0C0C0;
	display: block;
	font-weight: bold;
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 12px;
	margin: 0px;
	vertical-align: middle;
	text-align: left;
}
.chart-row{
	border: 0px;
	background-color: inherit;
	font-weight: normal;
	font: verdana;
	vertical-align: middle;
	text-align: left;
}
.chart-description{
	border: 0px;
	background-color: inherit;
	display: block;
	font-weight: normal;
	font: verdana;
	margin: 0px;
	vertical-align: middle;
	text-align: left;
}

.rich-panel {
	border-width: 0px; 
	border-style: none; 
	padding : 0px;
}

.rich-panel-body {
	padding: 0px; 
}

.rich-panel-header {
	padding: 0px; 
	border-width: 0px; 
	border-style: none; 
	background-repeat: no-repeat; 
}

p.note{
	padding: 15px 30px 35px 85px;
	margin: 20px; border: 1px solid #ACBECE;
	background: url(../images/note_bg.gif) top left no-repeat #F0F3F7;
}
subTitle {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #004080;
}

#td-background{
	text-align: right;
}
