
span.navigation_diabled{
	
	width: 170px;
	height: 18px;
	border: 1px solid black;
	color: #A9A9A9;
	background: #DCDCDC;
	text-decoration: none;
	font-size: 8pt;
	text-align:center;
	
}

a.navigation_active_link{
	
	width: 170px;
	height: 18px;
	border: 1px solid black;
	background: #F5F5F5;
	color: #2F4F4F;
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	text-align:center;
	
}

a.navigation_inactive_link{
	
	width: 170px;
	height: 18px;
	border: 1px solid black;
	background: #FAFAD2;
	color: #ffffff;
	text-decoration: none;
	font-size: 10pt;
	text-align:center;
	
}