body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
}

a:link{
	font-size:11px;
	font-weight:normal;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
a:visited{
	font-size:11px;
	font-weight:normal;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
a:hover{
	font-size:11px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	color:#006699;
	text-decoration: underline;
}
.LoginTitle {
	font-family: "Trebuchet MS", Georgia, "Times New Roman";
	font-size: 14px;
	font-weight: bold;
	color: #a41c2b;
}


input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.MastheadBg {
	background-image: url(../images/MastheadBg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 48px;
}

.LogoutPanel {
	height: 20px;
	background-color: #efefef;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	margin: 0px;
	padding: 0px;
}

.FixedButton {
	BORDER-RIGHT: #999999 1px solid;
	BACKGROUND-POSITION: left bottom;
	BORDER-TOP: #999999 1px solid;
	FONT-WEIGHT: bolder;
	FONT-SIZE: 11px;
	BACKGROUND-IMAGE: url(../images/bgbutton.jpg);
	BORDER-LEFT: #999999 1px solid;
	COLOR: #333333;
	BORDER-BOTTOM: #999999 1px solid;
	BACKGROUND-REPEAT: repeat-x;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	HEIGHT: 18px;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}

.label {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.leftbg {
	background-image: url(../images/leftbg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	height: 350px;
	width: 16px;
}

.rightbg {
	background-image: url(../images/rightbg.gif);
	background-repeat: repeat-y;
	background-position: right top;
	height: 350px;
	width: 16px;
}

.bottomtbg {
	background-image: url(../images/bottombg.gif);
	background-repeat: repeat-x;
	background-position: right bottom;
	height: 16px;
}
