/*
 * File:   premia_billing.css
 * Author: Sarika Bagwe - iDesign Team - 3i-Infotech
 * Date:   21-July-2008
 * Desc:   Basic layout for form interface for PREMIA Application
 */

body {
	font-family: Arial, Verdana, "Times New Roman";
	margin: 0px;
	padding: 0px;
}
.pgtitle {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 14px;
	font-weight: bolder;
	color: #a41c2b;
	
}
.label {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #666666;
}

.toolbarImageStyle {
	height: 16;
	border: thin solid #D6E6FB;	
}

#toolbartable{
  	margin-left: 0px;
  	font-size: 11px;
  	color: gray;
  }
  
 .forumRowHighlightNumeric{
  	text-align:right;
 	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: 
 }
 
#secondToolBar{
  	margin-left: 30px;
  	font-size: 11px;
  	color: gray;
  }  

.rich-tab-header{
  	font-weight: bold;
    color: white 
}

.rich-tab-active{
     
     background-image: url(../images/richtabactive.jpg);
     background-repeat: repeat-x;
    
     
}

.rich-tab-inactive {
 	background-image: url(../images/topnavbg.jpg);
	background-repeat: repeat-x;
	
	
}

.displayErrorMessages{
	color: red;
	}
	
.displayMessages{	
	color: green;	
	}

.ErrorMessages{
color: red; font-style: italic;font-weight:bold;
		
}
.WarningMessages{
color: green; font-style: italic;font-weight:bold;
		
}
TR.formrow{
	background-image: url(../images/dotline.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #666666;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.button {
	font-size: 11px;
	font-weight: bolder;
	color: #666666;
	background-image: url(../images/bgbutton.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 22px;
	border: 1px solid #999999;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	font-family: Arial, Verdana, "Times New Roman";
}
a:link {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
a:visited {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
a:hover {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 12px;
	font-weight: normal;
	color: Orange;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
	
}
#footer {
	background-color: #F4F4F4;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #DADADA;
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	height: 20px;
	text-align: center;
	color: #666666;
}





#masthead {
	background-color:   #004080;
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 13px;
	font-weight: bolder;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 8px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CECDBB;
	color: white;
	height: 35px;
}topnsa
#masthead A:link{
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: underline;
}
#masthead A:visited{
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: underline;
}
#masthead A:hover{
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}

#topnav{
	background-image: url(../images/topnavbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	text-decoration: none;
	height: 28px;
}
#topnav UL {
	RIGHT: 0px;
	MARGIN: 0px;
	LIST-STYLE-TYPE: none;
	TOP: 0px;
	padding: 0px;
	bottom: 0px;
}
#topnav LI {
	FLOAT: left;
	height: 28px;
	width: 95px;
	padding: 0px;
	text-align: center;
	margin-left: 4px;
}
#topnav a:link{
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	height: 28px;
}
#topnav a:visited {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	height: 28px;
}
#topnav a:hover {
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
	background-image: url(../images/activetab.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 20px;
	width: 95px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	display: block;
}
#topnav a.active:link {
font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
	background-image: url(../images/activetab.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 20px;
	width: 95px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	display: block;
}
#topnav a.active:visited {
font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
	background-image: url(../images/activetab.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 20px;
	width: 95px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	display: block;
}
#topnav a.active:hover {
font-family: Arial, Verdana, "Times New Roman";
	font-size: 11px;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
	background-image: url(../images/activetab.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 20px;
	width: 95px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	display: block;
}
#topnav img {
	cursor: pointer;
}


/************* globalNav styles ****************/

#globalNav{
	color: #cccccc;
	padding: 0px;
	margin: 0px;
	background-position: left top;
	background-repeat: repeat-x;
	height: 23px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #B1B1B1;
	background-color: #ECEEF2;
}

#globalLink{
	padding: 0px;
	z-index: 100;
	height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
	
}


#globalLink a {
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-right-style: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}



#globalLink a.active:visited{
	font-size: 11px;
	color: #D17714;
	font-weight: bold;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-right-style: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}

#globalLink A.activeLink{
	font-size: 11px;
	color: #D17714;
	font-weight: bold;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-right-style: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}

span.navigation_diabled{
	font-size: 11px;
	color: gray;
	font-weight: bold;	
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-right-style: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}

#globalLink  a:hover{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	/*width: 100%;*/
	background-position: top;
	color: #D17714;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	vertical-align: middle;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding: 2px 1px;
}
	

#detailstable{
	/*background-color:   Wheat;*/
	font-family: Arial, Verdana, "Times New Roman";
	font-size: 13px;
	font-weight: bolder;
	color: black;
	
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	
}

#errormsgtable{
	background-color: ;
	/*font-family: Georgia;*/
	font-size: 13px;
	font-weight: bold;
	color: #B22222;
	padding-left: 10px;
/*	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: Black;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: Black; */
	
}

#td-background{
	background-color: #D6E6FB;
	}

#td-cellspacing{
	padding: 10px;
	}	
	
#bordertable{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: Black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: Black;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: Black;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: Black;
	
	
	color: White;
	}	
	

  
#linkstable{
  	border-bottom: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-top: 0px;
	border-top-color: black;
	border-top-style: solid;
	background-color: #004080;
	color: white;
	
	
	
  }  





/******** Menu Bar **************/


div.menuBar,
div.menuBar a.menuButton,
div.menu,
div.menu a.menuItem {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  
}

div.menuBar {
  background-color: #E1E1E1 ;

  border: 2px outset white;
  padding: 4px 2px 4px 2px;
  text-align: left;
   /*  background-image: url(images/menu.jpg); */
}

div.menuBar a.menuButton {
  background-color: transparent;
 
  color: #000000;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
  
}

div.menuBar a.menuButton:hover {
  background-color: transparent;
  border: 1px outset white;
  color: #000000;
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
  border: 1px inset white;
  left: 1px;
  top: 1px;
}

div.menu {
  background-color: #E1E1E1  ;
  border: 2px outset white;
  left: 0px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  color: #000000;
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;

  
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #C0C0C0;
  color: #ffffff;
  
}

div.menu a.menuItem span.menuItemText {}

div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

div.menu div.menuItemSep {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}





td.forumRowHighlight {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: 
}
td.on {
background-color:#CBDEEF;
FONT-SIZE: 11px;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
cursor:pointer
}
td.off {
background-color:#FFFFFF;
FONT-SIZE: 11px;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
cursor:default
}
input.forumRowHighlight {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: 
}

input.forumRowHighlight {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: 
}

richToolTipStyle {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: red 
	
}



input.on {
background-color:#CBDEEF;
FONT-SIZE: 11px;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
input.off {
background-color:#FFFFFF;
FONT-SIZE: 11px;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}



a.navigation_active_link{
	
	width: 170px;
	height: 18px;
	border: 1px solid black;
	background: #F5F5F5;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 10pt;
	text-align:center;
	
}

a.navigation_inactive_link{
	
	width: 170px;
	height: 18px;
	border: 1px solid black;
	background: #708090;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 10pt;
	text-align:center;
	
}
.toolbaroutputTextStyle{
	font-weight: bold;
	
	
	}
.disabletoolbaroutputTextStyle{		
	color: gray;
	}
.gridsaveColoumn{
	width:1px;
	}

.columnCentreStyle{
  	text-align: center;
 	font-size: 11px;
 	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #E8E8E8;
 }
 
.columnRightStyle{
  	text-align:right;
 	font-size: 11px;
 	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #E8E8E8;
 }
 .dataTableSelectedRow { 
background-color : #f1f3a9;
text-align:center;
} 
.dataTableNonSelectedRow { 
background-color : #ffffff;
text-align:center;
}
